footer {
    background-color: $dark-grey;
    padding: 20px 0;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    .link-pro {
        padding: 30px 0;
        a {
            img {
                width: 100%;
                height: auto;
            }
        }
    }
    p {
        color: $white;
        text-align: center;
        font-size: 12px;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
    }
}